body{
    margin:5px;
    padding: 0;
    background-color: antiquewhite;
}

h1{
    background-color: palevioletred;
    color: white;
    text-align: center;
    
}

ion-section{
    margin-top: 2px;
    
}


ion-button {
    margin: 5px;
    --background: palevioletred;
  }
